.titleSearchContainer{
    margin: 40px 0;
}
.titleSearchContainer input{
    width: 50%;
    height: 30px;
    border-radius: 3px;
    border: 1px solid rgba(118,118,118,0.9);
    padding: 5px 10px;
}