.categoryContainer{
    background-color: white;
    flex:2;
    max-width: 400px;
    position: relative;
    border-radius: 2px;
    border: 0.5px solid rgba(118,118,118,0.9);
    height: 40px;
}

.categoryContainer input{
    width: 95%;
    border: none;
    max-height: 100%;
}
.categoryContainer input:focus{
    
    border: none;
}
.categoryListContainer{
    max-height: 300px;
    overflow-y: scroll;
    position: absolute;
    background-color: white;
    top:40px;
    width: 99%;
    border: 1px solid black;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.selectedCategoryItemContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.selectedCategoryItem{
    display: inline-block;
    border: 1px solid gray;
    border-radius: 3px;
    margin: 1px;
    padding: 5px;
    font-size: 12px;
}

.closeButton{
    font-weight: bolder;
    font-size: 8px;
    margin-left: 10px;
    margin-right: -6px;
    cursor: pointer;
}