.categoryContainer{
    background-color: white;
    flex:2;
    max-width: 400px;
    position: relative;
    border-radius: 2px;
    height: 40px;
}

.categoryContainer input{
    width: 95%;
    height: 30px;
    margin-top:3px;
}

.categoryListContainer{
    max-height: 300px;
    overflow-y: scroll;
    position: absolute;
    background-color: white;
    top:2.5em;
    width: 95%;
    left:2%;
    right: 0;
    border: 1px solid rgba(118,118,118,0.2);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

}

.selectedCategoryItemContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.categoryTagsContainer{
    overflow: auto;
    width: 400px;
    margin-top:-30px;
    height:30px;
}
.categoryTags{
    white-space:nowrap;
    margin:0;
    padding: 0;

}

.selectedCategoryItem{
    display: inline-block;
    border: 1px solid gray;
    border-radius: 3px;
    margin: 1px;
    padding: 5px;
    font-size: 12px;
}

.closeButton{
    font-weight: bolder;
    font-size: 8px;
    margin-left: 10px;
    cursor: pointer;
}

.categoryListItem{
    border: 1px solid rgba(118,118,118,0.2);
    padding: 10px;
}

.categoryListItem:hover, .categoryListItem.active{
    background-color: rgba(0,0,255,0.1);
}